

body {
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  color: var(--secundary-color);
  background-color: var(#ffffff);
  letter-spacing: 0.03em;
}


:root {
  --one-color-: #2196f3;
  --secundary-color: #212121;
  --tree-color: #ffffff;
  --four-color: #757575;
  --color-sub1: #00000033;
  --color-fondo: #2f303a;
  --five-color-contacts: #ffffff99;
}
/*header*/
.container{
  width: 1200px;
  margin: 0 auto; 
}
.post-header{
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 80px;
}
.post-nav{
  display: flex;
  justify-content: space-between;
  gap: 90px;
  align-items: center;
}
.header-menu{
  display: flex;
  gap: 50px;
}
.logo {
  font-family: 'Raleway';
  text-decoration: none;
  color: var(--one-color-);
  font-weight: 700;
  font-size: 26px;
  line-height: 31px;
}
.list{
  list-style-type: none;
  text-decoration: none;
  display: inline-block;
}
.header-post {
  text-decoration: none;
  color: var(--secundary-color);
  font-size: 16px;
  line-height: 1.5;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  letter-spacing: 0.02em;
  gap: 50px;
}
.header-post:hover,
.header-post:focus {
  color: var(--one-color-);
}
.current{
color: var(--one-color-);
}
/*contacts*/
.contactos {
  text-decoration: none;
  color: var(--four-color);
  font-weight: 500;
  line-height: 16px;
  letter-spacing: 0.02em;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  letter-spacing: 0.02em;
  gap: 50px;
}
.contactos:hover,
.contactos:focus {
  color: var(--one-color-);
}
/*titulo*/
.test-h1 {
  text-decoration: none;
  color: var(--tree-color);
  font-style: normal;
  font-weight: 900;
  font-size: 44px;
  line-height: 60px;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}
.fondo-h1 {
  color: var(--color-fondo);
  background-color: var(--color-fondo);
  height: 600px;
  font-weight: 900px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 10px 32px;
}
.button-h1 {
  color: var(--tree-color);
  background-color: var(--one-color-); 
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.5;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  cursor: pointer; 
  border: none; 
  background: #2196F3;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.titulos {
  color: var(--secundary-color);
  font-style: normal;
  font-weight: 700;
  line-height: 16px;
  text-transform: uppercase;
}
.subtitulo1 {
  color: var(--color-sub1 --four-color);
  font-style: normal;
  font-weight: 700;
  line-height: 16px;
  text-transform: uppercase;
}

.parrafo {
  color: var(--four-color);
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  /* or 171% */

  letter-spacing: 0.03em;
}
.subtitulo {
  color: var(--secundary-color);
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 42px;
  text-align: center;
}

.name {
  color: var(--secundary-color);
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  
}
.p-h3 {
  color: var(--four-color);
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
}
/*pg*/
.tex-pie {
  color: var(--tree-color);
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  cursor: pointer;
}
.tex-pie:hover {
  color: var(--one-color-);
}
.info-pie {
  color: var(--five-color-contacts);
  text-decoration: none;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  cursor: pointer;
}
.info-pie:hover {
  color: var(--one-color-);
}
/*tarea#2*/
.botones {
  color: var(--secundary-color);
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  border: none;
  padding: 6px 24px;
  border-radius: 5px;
}
.botones:hover {
  color: var(--tree-color);
  background-color: var(--one-color-);
  cursor: pointer;
}
.botones:focus {
  color: var(--tree-color);
  background-color: var(--one-color-);
}

.subtittle {
  color: var(--secundary-color);
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 36px;
}

.paragraph {
  color: var(--four-color);
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
}
