
body {
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  color: var(--secundary-color);
  background-color: var(#ffffff);
  letter-spacing: 0.03em;
  margin: 0;
}


:root {
  --one-color-: #2196f3;
  --secundary-color: #212121;
  --tree-color: #ffffff;
  --four-color: #757575;
  --color-sub1: #00000033;
  --color-fondo: #2f303a;
  --five-color-contacts: #ffffff99;
  --colorPortafolio: #EEEEEE;
}

/* Normalice */
* {
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul{
  list-style-type: none;
}

a{
  text-decoration: none;
}

html {
  box-sizing: border-box;
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

address {
	font-style: normal;
}

.link {
	text-decoration: none;
	color: inherit;
}

/* ICONOS */
.ico-correo{
	background-image: url("../images/ico-correo.svg");
	display: flex;
	background-repeat: no-repeat;
	flex: 1 1 auto;
	margin-top: 3px;
}

.ico-cel{
	background-image: url("../images/ico-cel-2.svg");
    display: flex;
    background-repeat: no-repeat;
    flex: 1 1 auto;
    margin-top: 2px;
    margin-left: -3px;
}

.color-icons{
	display: flex;
	background: #F5F4FA;
	color: #fff;
	width: 250px;
	height: 120px;
	left: 206px;
	flex-flow: column nowrap;
	flex: 1 1 auto;
	justify-content: center;
	align-items: center;
}

.ico-antena {
	background-image: url("../images/ico-a.svg");
	display: flex;
	background-repeat: no-repeat;
	width: 70px;
	height: 70px;
}

.ico-reloj {
	background-image: url("../images/ico-reloj-2.svg");
	display: flex;
	background-repeat: no-repeat;
	width: 73px;
	height: 70px;
}

.ico-pc {
	background-image: url("../images/ico-pc-2.svg");
	display: flex;
	background-repeat: no-repeat;
	width: 70px;
	height: 70px;
}

.ico-astronauta {
	background-image: url("../images/ico-per-2.svg");
	display: flex;
	background-repeat: no-repeat;
	width: 70px;
	height: 70px;
}

.list-icons{
	display: flex;
	flex-flow: row wrap;
	margin-left: 30px;
}

.correo {
  width: 161px;
  height: 16px;
  left: 1052px;
  top: 32px;
  color: #2196F3;
  display: flex;
  flex-flow: row wrap;
}

.number {
  height: 20px;
  width: 118px;
  text-decoration: none;

  font-size: 14px;
  font-weight: 500;
  line-height: 16px;
  letter-spacing: 0.02em;
  text-align: left;
  color: #757575;

  display: flex;
  flex-flow: row wrap;
}
/* FIN ICONOS */



/*header*/
.container{
  --bs-gutter-x: 1.5rem;
    --bs-gutter-y: 0;
    width: 100%;
    padding-right: calc(var(--bs-gutter-x) * .0);
    padding-left: calc(var(--bs-gutter-x) * .0);
    margin-right: auto;
    margin-left: auto
}
.post-header{
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 80px;
}
.post-nav{
  display: flex;
  justify-content: space-between;
  gap: 90px;
  align-items: center;
}
.header-menu{
  height: 50px;
    width: 281px;
    left: 453px;
    top: 32px;
    display: flex;

}
.logo {
  font-family: Raleway;
    font-size: 26px;
    font-weight: 700;
    line-height: 31px;
    letter-spacing: 0.03em;
    text-align: right;
    color: #2196F3;;
}
.span-logo{
  margin-left: 80px;
  margin-bottom: 1000px;
  font-family: Raleway;
    font-size: 26px;
    font-weight: 700;
    line-height: 31px;
    letter-spacing: 0.03em;
    text-align: right;
}
.list{
	list-style-type: none;
	text-decoration: none;
	display: inline-block;
	width: 270px;
    height: 368px;
    top: 1696px;
}

.list-e {
  list-style-type: none;
  text-decoration: none;
  display: inline-block;
  width: 270px;
  height: 368px;
  left: 208px;
  top: 1696px;
  background: #FFFFFF;
    /* material shadow v1 */
  
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px; 
    margin-left: 10px;

}

.list-e img{
  border-radius: 0px;
}
.name{
    font-size: 16px;
    font-weight: 500;
    line-height: 19px;
    letter-spacing: 0.03em;
    text-align: center;
    margin-top: 30px;
    margin-bottom: 8px;
  }

.p-h3{
    font-size: 16px;
    font-weight: 400;
    line-height: 19px;
    letter-spacing: 0.03em;
    text-align: center;
}

.header-post {
  text-decoration: none;
  color: var(--secundary-color);
  font-size: 16px;
  line-height: 1.5;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  letter-spacing: 0.02em;
  gap: 50px;
}
.header-post:hover,
.header-post:focus {
  color: var(--one-color-);
}
.current{
color: var(--one-color-);
}
/*contacts*/
.contactos {
  text-decoration: none;
  color: var(--four-color);
  font-weight: 500;
  line-height: 16px;
  letter-spacing: 0.02em;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  letter-spacing: 0.02em;
  gap: 50px;
  height: 40px;
    width: 135px;
    left: 1078px;
    top: 32px;
    margin-left: 150px;
}

.contact{
  text-decoration: none;
    color: var(--four-color);
    font-weight: 500;
    line-height: 16px;
    letter-spacing: 0.02em;
    display: flex;
    flex-direction: row;
    justify-content: start;
    letter-spacing: 0.02em;
    height: 40px;
    width: 135px;
    left: 1078px;
    top: 32px;
    margin-left: 150px;
}

.contactos:hover,
.contactos:focus {
  color: var(--one-color-);
}

/*titulo*/
.test-h1 {
  color: var(--tree-color);
  font-style: normal;
  font-weight: 900;
  font-size: 36px;
  line-height: 60px;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  width: 696px;
  height: 120px;
  margin-bottom: 30px;
  align-content: center;
}
.fondo-h1 {
  color: var(--color-fondo);
  background-image: url(../images/img-section.png);
  height: 600px;
  font-weight: 900px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 10px 32px;
}
.button-h1 {
  color: var(--tree-color);
  background-color: var(--one-color-); 
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.5;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  cursor: pointer; 
  border: none; 
  background: #2196F3;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px 32px;
}
.botones-1{
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  margin-top: 50px;
}
.botones{
  margin-left: 10px;
}
.subtitulo1 {
  color: var(--color-sub1 --four-color);
  font-style: normal;
  font-weight: 700;
  line-height: 16px;
  text-transform: uppercase;
}
.subtitulo {
  color: var(--secundary-color);
    font-size: 36px;
    font-weight: 700;
    line-height: 42px;
    letter-spacing: 0.03em;
    text-align: center;
    padding: 50px;
}

.name {
  color: var(--secundary-color);
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  
}
.p-h3 {
  color: var(--four-color);
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
}
/*pg*/
.tex-pie {
  color: var(--tree-color);
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  cursor: pointer;
}
.tex-pie:hover {
  color: var(--one-color-);
}
.info-pie {
  color: var(--five-color-contacts);
  text-decoration: none;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  cursor: pointer;
}
.info-pie:hover {
  color: var(--one-color-);
}
.ul-footer{
  margin-left: 40px;
  list-style-type: none;
  width: 300px;
}
/*tarea#2*/
.botones {
  color: var(--secundary-color);
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  border: none;
  padding: 6px 24px;
  border-radius: 5px;
}
.botones:hover {
  color: var(--tree-color);
  background-color: var(--one-color-);
  cursor: pointer;
}
.botones:focus {
  color: var(--tree-color);
  background-color: var(--one-color-);
}

.subtittle {
  color: var(--secundary-color);
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 36px;
}

.paragraph {
  color: var(--four-color);
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
}

.footer{
    height: 252px;
    left: 0px;
    top: 1628px;
    background: #2F303A;
    text-align: left;
    padding: 30px;
}
.direccion-footer{
  width: 231px;
    height: 100px;
    left: 215px;
    top: 1733px;
}
.info-pie{
  font-family: Roboto;
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.03em;
    text-align: left;
}

.color-e{
  background: #F5F4FA;
  height: 648px;
}

/* CARACTERISTICAS */
.services-ul{
    left: 215px;
    top: 775px;
    display: flex;
    margin-bottom: 15vh;
    margin-top: 15vh;
    flex-flow: row nowrap;
	width: 90%;
}
.titulos {
  font-size: 14px;
  font-weight: 700;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-align: left;
  color: #212121;
  text-decoration: none;
  margin-top: 20px;
}
.list{
    width: 360px;
    height: 404px;
    left: 215px;
    top: 274px;
    text-align: left;
    margin-left: 10px;
    padding: 10px;
}
.parrafo {
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.03em;
  text-align: left;
  color: #757575;
  margin-top: 26px;
}
/* FIN CARACTERISTICAS */



.img-port{
  width: 100%;
  height: auto;
  left: calc(50% - 370px/2);
  top: calc(50% - 294px/2 - 519px);
}

/*PORTAFOLIO*/
.img-port{
  height: 294px;
    width: 370px;
    left: 215px;
    top: 274px;
    border-radius: 0px;
    color: var(--colorPortafolio);
    display: flex;
    
}
.error-img{
  height: 288px;
    width: 370px;
}
.col-imagen{
  margin-top: 50px;
  margin-bottom: 100px;
  display: flex;
  flex-flow: row wrap;
}

.subtittle{
font-family: Roboto;
  font-size: 18px;
  font-weight: 700;
  line-height: 36px;
  letter-spacing: 0.06em;
  text-align: left;
  font-family: Roboto;

}
.list-port {
  box-sizing: border-box;
  margin-top: 20px;
  margin-left: 10px;

  width: 371px;
  height: 404px;
  left: calc(50% - 370px/2);
  top: calc(50% - 404px/2 - 464px);

  background: #FFFFFF;
  border: 1px solid #EEEEEE;
  display: inline-block;
  list-style-type: none;
  text-decoration: none;
}
.list-port-2{
  border: 1px solid #EEEEEE;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}
.content-port{
  padding: 10px;
}
/*END PORTAFOLIO*/


.images-index{
  width: 1177px;
    height: 368px;
    left: 208px;
    top: 1696px;
    margin-right: 20px;
    margin-bottom: 100px;
}

.botones-list{
  list-style-type: none;
  display: flex;
}

.about{
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
}

.list-about{
  width: 373px;
  margin-left: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

figcaption{
	background-color: balck;
	color: #fff;
	padding: 10px;
	text-align: center;
	position: absolute;
	bottom: 0;
	width: 100%;
}

.caption{
	font-family: Roboto;
	font-size: 14px;
	font-weight: 700;
	line-height: 16px;
	letter-spacing: 0.03em;
	text-align: center;

	width: 373px;
	height: 70px;
	left: 215px;
	top: 1435px;
	background: rgba(47, 48, 58, 0.8);
	bottom: -16px;
}

.son-list{
  display: flex;
  flex-flow: row wrap;
}